<!DOCTYPE html>
<html ng-app="electronshell">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" href="styles/style.css"/>
</head>
<body>
<h1>Hello World!</h1>

<span class="column" ng-controller="quickopen">
    <div ng-repeat="folder in folders" ng-dblclick="clicked(folder)">
        {{ folder.path }}
    </div>
</span>
<span ng-controller="sessions">
    <span ng-repeat="session in sessions" class="session column">
        <div class="shellsession" ng-controller="listing">
            <div ng-click="up()">
                Go up
            </div>
            <br />
            <div ng-repeat="item in session.files" class='listitem {{item.html_class()}}' ng-click="clicked(item)">
                {{ item.basename }}
            </div>
        </div>
    </span>
</span>

<script src="node_modules/jquery/dist/jquery.js"></script>
<script>window.$ = window.jQuery = require('jquery');</script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
