.listitem.item_dir {
    color: darkgrey;
}

.listitem.item_file {
    color: blue;
}

.column {
    float: left;
}

.session.selected {
    background: lightgray;
}

.item.selected {
    background: lightblue;
}