.listitem.item_dir {
    color: darkgrey;
}

.listitem.item_file {
    color: blue;
}

.column {
    float: left;
}

.session.selected {
    background: lightgray;
}

.item.selected {
    background: lightblue;
}

.quicksearch {
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.quickopen {
    position: fixed;
    height: 100%;
    width: 100px;
    border-right: 1px solid grey;
}