$leftmenu_width: 150px;
$terminal_height: 150px;
$terminal_header_height: 26px;
$terminal_input_height: 20px;

.listitem {
  &.item_dir {
    color: darkgrey;
  }

  &.item_file {
    color: blue;
  }
}

.column {
  float: left;
  height: 100%;
  overflow-y: auto;
}

.session.selected {
    background: lightgray;
}

.item.selected {
    background: lightblue;
}

.quicksearch {
  border: 1px solid black;
  margin: auto;
  padding: 3px;
  font-weight: bold;
  width: 400px;
  z-index: 100;
  background: white;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.quickopen {
    position: fixed;
    height: 100%;
    width: $leftmenu_width;
    border-right: 1px solid grey;
}

.sessionscontainer {
  left: $leftmenu_width;
  position: fixed;
  right: 0;
  bottom: $terminal_height;
  top: 0;
}

.terminalcontainer {
  position: fixed;
  height: $terminal_height;
  left: $leftmenu_width;
  border-top: 1px solid black;
  right: 0;
  bottom: 0;

  .headers {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid lightgrey;
    height: $terminal_header_height;

    li {
      display: inline-block;
      margin: 0 5px 0 5px;
      padding: 5px;
      border-right: 1px solid lightgrey;
      
      &.shown {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}

.terminal {
  .lines {
    height: $terminal_height - $terminal_input_height - $terminal_header_height - 4px; // so sue me :p
    overflow-y: auto;
  }
}

.prompt {
  position: fixed;
  bottom: 0;
  height: $terminal_input_height;
  border-top: 1px solid grey;
  width: 100%;

  form {
    display: inline;
  }
}
